/* Minimalist CSS for Profile Menu */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #212B36;
}

.profile-page {
  display: flex;
  width: max-content;
  margin: 0 auto;
}

button:focus {
  outline: none;
}

.current-profile-page {
  margin-top: 2rem;
  width: 1000px;
}

.page-info-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-info-text button {
  background-color: transparent;
  color: #212B36;
  border: 1px solid #212B36;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.page-info-text button:hover {
  background-color: #00AB55;
  color: white;
  border: none;
}

.current-profile-page h5{
  font-size: 20px;
  font-weight: 500;
  margin-top: 1rem;
  color: #212B36;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

/* label {
  display: block;
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
} */


.menu-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-info-container {
  padding: 2rem;
  background-color: #F4F6F8;
  text-align: center;
}

.menu-info-container h2{
  font-size: 30px;
  margin-bottom: 0.5rem;
}
.menu-info-container h3{
  font-weight: 400;
}

.page-buttons{
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.page-buttons p{
align-self: center;
}

.add-page-button{
  padding: 10px 15px;
  background-color: transparent;
  color: #212B36;
  border: 1px solid #212B36;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-page-button:hover {
  background-color: #00AB55;
  color: #ffffff;
  border: none;
}

.page-buttons .tabs {
  display: flex;
  gap: 1rem;
}

.page-buttons .tabs button {
  padding: 10px 15px;
  background-color: #ffffff;
  color: #212B36;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-buttons .tabs button:hover {
  padding: 10px 15px;
  background-color: #dcdcdc;

}
.page-buttons .tabs button.active {
  background-color: #00AB55;
  color: white;
  border: none;
}

.add-new-item-button{
  width: 100%;
  padding: 12px;
  background-color: transparent;
  color: #212B36;
  border: 1px solid #212B36;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-new-item-button:hover{
  background-color: #00AB55;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/* .product-area{
  width: 1000px;
} */

.product-list{
  display: flex;
  flex-wrap: wrap; /* Kutuların aşağı kaymasını sağlar */
  gap: 16px; /* Kutular arası boşluk */
  justify-content: flex-start; /* Kutuları sola hizalar */
}
.product-container{
  background-color: #ffffff;
  flex: 0 0 238px; /* Kutuların sabit genişlikte olmasını sağlar */
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}
.product-elements{
  width: max-content;
  margin: 0 auto;
  margin: 0.5rem;
}
.product-photo{
  width: 222px;
  height: 222px;
}
.edit-product-contanier{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.product-title{
  font-size: 15px;
  font-weight: 600;
  margin-top: 0.3rem;
}

.product-description{
  font-size: 12px;
  font-weight: 400;
}

.product-price{
  font-size: 13px;
  font-weight: 600;
  color: #212B36;
}
.edit-icon-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.edit-icon-button img{
  height: 14px;
  width: 14px;
}