
.order-area{
    display: flex;
    flex-wrap: wrap; /* Kutuların aşağı kaymasını sağlar */
    gap: 16px; /* Kutular arası boşluk */
    justify-content: flex-start; /* Kutuları sola hizalar */
    height: 10rem;
    margin-top: 1rem;    
}

.order-container{
    flex: 0 0 322.6px; /* Kutuların sabit genişlikte olmasını sağlar */
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.container-top-part{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
}

.order-container img{
    height: 90px;
    width: 115px;
}

.container-bottom-part{
    display: flex;
    flex-direction: column;
}
.container-edit-area{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.container-edit-area img{
    height: 13px;
    width: 13px;
}

.order-detail{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.order-total-info{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.settle-up-button{
    padding: 4px;
    background-color: transparent;
    color: #212B36;
    border: 1px solid #212B36;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1rem;
  }
  
  .settle-up-button:hover{
    background-color: #00AB55;
    color: #ffffff;
    border: 1px solid #ffffff;
  }