
.order-area{
    max-width: 1000px;
    display: block;
    column-count: 3;
    margin-top: 1rem;    

}

.order-container{
    break-inside: avoid;
    margin-bottom: 1rem;
    width: 325px;
    max-width: 325px;
    max-width: none;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    padding-top: 1rem;
}

.container-top-part{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 1rem;
    /* background-color: aqua; */
}

.container-top-part p{
    background-color: #00AB55;
    font-weight: 500;
    color: white;
    padding: 0.4rem 0.6rem;
    border-radius: 2px;
}
.order-container img{
    height: 90px;
    width: 115px;
}

.container-bottom-part{
    display: flex;
    flex-direction: column;
}
.container-edit-area{
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 0.5rem 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #C1CAD3;
}
.container-edit-area p{
    font-size: 0.85rem;
    font-weight: 500;
    color: #212B36;
}


.container-edit-area img{
    height: 13px;
    width: 13px;
}

.order-detail{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;

}

.order-total-info{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem 0rem 1rem;
    border-bottom: 1px dashed #212B36;
    border-top: 1px dashed #212B36;
    padding: 0.6rem 0;
}

.product-name-count{
    max-width: 12rem;
    white-space: nowrap;
    overflow: hidden; /* Taşan kısmı gizle */
    text-overflow: ellipsis; /* Üç nokta ekle */
}


.order-total-info p{
    font-weight: 500;
    color: #212B36;
}
.settle-up-button{
    padding: 4px;
    background-color: transparent;
    color: #212B36;
    border: 1px solid #212B36;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1rem;
  }
  
  .settle-up-button:hover{
    background-color: #00AB55;
    color: #ffffff;
    border: 1px solid #ffffff;
  }